* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    background-image: url('images/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 300px;
    color: aqua;
}

.project{
    margin-top: 15px;
    overflow: hidden;
    width: 100%;
}

.project-item{
    float: left;
    height: 200px;
    background-color: red;
    width: 24%;
    border: 1px solid green;
    margin-left: 10px;
    margin-bottom: 10px;
}